<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/bootstrap.min.css" rel="stylesheet">
	<title>MTUCI</title>
</head>
<body>
 	<form action="data" method="post">
    <p><b>Поле для ввода</b></p>
    <p><textarea class="form-control" id="exampleTextarea" rows="3" name="text"></textarea></p>
    <p><input type="submit" class="btn btn-primary btn-lg"> </p>
  	</form>
{% for data in datas %}
	<div class="alert alert-dismissible alert-success">
	<strong>{{data.message}}</strong>
	</div>
{% endfor %}
</body>
</html>